<h3>Hola <%= @nombre %> <%= @apellido %>, gracias por comunicarte con Releve!</h3>
<p class="lead">Contamos con una amplia disponibilidad horaria para las diferentes actividades.	Podes consultar todas las clases y horarios disponibles registrándote en nuestro <a href="http://relevepilates.com.ar/">sitio web</a>.</p>
<!-- A Real Hero (and a real human being) -->
<p><%= image_tag('espacio.png') %></p><!-- /hero -->
<!-- Callout Panel -->
<p class="callout">
Nuestros instructores te están esperando, ingresá a la agenda y comenzá a programar tu entrenamiento. <a href="http://relevepilates.com.ar/app/agenda">Comenzar ahora!</a>
</p><!-- /Callout Panel -->
<h3>Precios:</small></h3>
<h4>Pilates</h4>
<p><strong>Instructores:</strong> Victoria Barnfather, Florencia Cagnone.</p>
<h5>Clases grupales</h5>
<ul>
	<li>1 vez x semana $550</li>
	<li>2 veces x semana $900</li>
	<li>3 veces x semana $1100</li>
</ul>
<h5>Clases privadas</h5>
<ul>
	<li>1 vez x semana $2000</li>
	<li>2 veces x semana $3500</li>
	<li>3 veces x semana $4400</li>
</ul>
<br/><br/><br/>
<h3>Consultá por otras actividades y modalidades de entrenamiento</small></h3>
<p>Estamos en permanente crecimiento, agregando nuevas actividades y grupos de entrenamiento para que puedas descubrir todo tu potencial.</p>
<div class="consultar">
	<div class="icon_text"><%= image_tag('icon_group.png') %><p>Clases grupales de hasta 4 personas</p></div><!-- /hero -->
	<div class="icon_text"><%= image_tag('icon_private.png') %><p>Clases privadas y semiprivadas</p></div><!-- /hero -->
	<div class="icons_actividades">
		<%= image_tag('dance-blue.png') %>
		<%= image_tag('pilates-blue.png') %>
		<%= image_tag('stretching-blue.png') %>
	</div>
	<a href="mailto:relevepilates@gmail.com" class="btn">Consultar</a>
</div>
<br/>
<br/>		
