<h3>Te damos la bienvenida a Releve!</h3>
<p class="lead">Tenemos el espacio y las energías preparadas para empezar a trabajar en una mejor calidad de vida. Un lugar para que redescubras tu cuerpo y desarrolles todo tu potencial. A difrutar de entrenar!</p>
<!-- A Real Hero (and a real human being) -->
<p><img src="<%= image_path('espacio.jpg') %>"/></p><!-- /hero -->
<!-- Callout Panel -->
<p class="callout">
Nuestros instructores te están esperando, ingresá a la agenda y comenzá a programar tu entrenamiento. <a href="http://relevepilates.com.ar/app/agenda">Comenzar ahora!</a>
</p><!-- /Callout Panel -->
<h3>Consultá por otras actividades y modalidades de entrenamiento</small></h3>
<p>Estamos en permanente crecimiento, agregando nuevas actividades y grupos de entrenamiento para que puedas descubrir todo tu potencial.</p>
<div class="consultar">
	<div class="icon_text"><img src="<%= image_path('icon_group.png') %>"/><p>Clases grupales de hasta 4 personas</p></div><!-- /hero -->
	<div class="icon_text"><img src="<%= image_path('icon_private.png') %>"/><p>Clases privadas y semiprivadas</p></div><!-- /hero -->
	<div class="icons_actividades">
		<img src="<%= image_path('dance-blue.png') %>"/>
		<img src="<%= image_path('pilates-blue.png') %>"/>
		<img src="<%= image_path('stretching-blue.png') %>"/>
	</div>
	<a href="mailto:relevepilates@gmail.com" class="btn">Consultar</a>
</div>
<br/>
<br/>		
