	<div class="preloader">
		<a href="/app/agenda" class="btn btn-block btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i><strong> Ingresar</strong></a>
		<img src="<%= asset_path 'loader.gif' %>" alt="Preloader image">
		<div id="quotes_container">
			<blockquote>
				<p id="quotes_preloader">"<%= @preloadQuote %>"</p>
				<p id="quotes_author" class="text-muted pull-right"> - Joseph Pilates</p>
			</blockquote>
		</div>
	</div>
	
	<%= render 'layouts/header' %>
	
	<header id="intro">
		<div class="container">
			<div class="sp-container">
				<div class="sp-content">
					<div class="sp-wrap sp-left">
						<h2 class="hidden-mddown">
							<span class="sp-top">"Una persona es</span> 
							<span class="sp-mid-top">tan joven como lo sea</span> 
							<span class="sp-mid">su columna vertebral”</span> 
							<span class="sp-bottom">Joseph Pilates</span>
						</h2>
						<h2 class="hidden-mdup">
							<span class="sp-center">"Una persona es tan joven como lo sea su columna vertebral”</span>
							<span class="sp-centerbottom">Joseph Pilates</span>
						</h2>
					</div>
					<div class="sp-wrap sp-right hidden-xs">
						<h2>
							<span class="sp-top">RE</span> 
							<span class="sp-mid">LE</span> 
							<span class="sp-bottom">VE</span> 
						</h2>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h4>Te invitamos</br>a probar una </br><strong>clase sin cargo</strong></h4>
						<button href="#" data-toggle="modal" data-target="#modal1" class="btn btn-lg btn-primary">Comenzá hoy!</button>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-first">
						<h5 class="white heading"><span class="open-blink"></span> Próximas clases</h5>
						<div class="owl-carousel owl-schedule bottom">
							<% (0..2).each do |i| %>
							<div class="item">
								<% (0..2).each do |j| %><% k = (i==0) ? j : (i==1) ? j+3 : j+6 %>
								<div class="schedule-row row">
									<div class="col-xs-8">
										<h5><%= @nextclases[k].actividad.nombre %> (<%= @nextclases[k].instructor.nombre_completo %>)</h5>
									</div>
									<div class="col-xs-4 text-right">
										<h5><%= I18n.t('date.abbr_day_names')[@nextclases[k].fecha.wday] %> <%= @nextclases[k].horario %>hs</h5>
									</div>
								</div>
								<% end %>
							</div> 
							<% end %>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-third">
						<h5 class=""><i class="fa fa-comment fa-flip-horizontal" aria-hidden="true"></i> Mira los comentarios:</h5>
						<div class="owl-testimonials">
							<div class="item">
							  <p>"Releve Pilates el mejor lugar, sin dudas!!! Hace un año que sigo eligiendo este maravilloso espacio. La dedicación a cada alumna/alumno hace que cada clase sea espectacular!!"</p>
							  <div><a href="https://www.facebook.com/relevepilates/reviews?ref=page_internal"><i class="fa fa-facebook-square" aria-hidden="true"></i>/reviews</a></div>
							</div>
							<div class="item">
							  <p>"Excelente atención , las mejores clases de pilates en un ambiente hermoso."</p>
							  <div><a href="https://www.facebook.com/relevepilates/reviews?ref=page_internal"><i class="fa fa-facebook-square" aria-hidden="true"></i>/reviews</a></div>
							</div>
							<div class="item">
							  <p>"Excelente, el trabajo es personalizado y eficaz, en un ambiente relajado."</p>
							  <div><a href="https://www.facebook.com/relevepilates/reviews?ref=page_internal"><i class="fa fa-facebook-square" aria-hidden="true"></i>/reviews</a></div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="actividades" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Actividades</h2>
				<h4 class="light muted">Te invitamos a vivir la experiencia Releve</h4>
			</div>
			<div class="row services">
				<div class="col-md-4">
					<div class="service ribbon_box">
						<div class="ribbon"><span>Proximamente!</span></div>
						<div class="icon-holder">
							<img src="<%= asset_path 'icons/dance-blue.png' %>" alt="" class="icon">
						</div>
						<h4 class="heading">Dance Pilates</h4>
						<p class="description">Se fusiona el trabajo de Danza Clásica con Pilates, combinando movimientos de disociacion, utilizando pesas y otros accesorios.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="<%= asset_path 'icons/pilates-blue.png' %>" alt="" class="icon">
						</div>
						<h4 class="heading">Pilates</h4>
						<p class="description">Se trabaja en circuito integrando Reformer, Cadillac, Chair y Corrector espinal, más un espacio para hacer mat y distintos accesorios.</p>
						<a href="#descripcion"><i class="fa fa-plus" aria-hidden="true"></i> Ver más</a>

					</div>
				</div>
				<div class="col-md-4">
					<div class="service ribbon_box">
						<div class="ribbon"><span>Proximamente!</span></div>
						<div class="icon-holder">
							<img src="<%= asset_path 'icons/stretching-blue.png' %>" alt="" class="icon">
						</div>
						<h4 class="heading">Yoga</h4>
						<p class="description">Trabajo completo del cuerpo, donde se educa la mente y el espíritu, para todos aquellos que deseen mejorar su calidad de vida.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section id="descripcion" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Pilates</h2>
				<h4 class="light muted">Encontra el espacio perfecto para vos!</h4>
			</div>
			<div class="row">
				<div class="col col-md-12 col-sm-12 col-xs-12">
					<div>
						Se trabaja en circuito integrando Reformer, Cadillac, Chair y Corrector espinal, más un espacio para hacer mat y distintos accesorios. La duración de la clase es de 1 hora<br><br>
						<strong>CLASE GRUPAL</strong><br>
						Cada alumno tiene su entrenamiento personalizado compartiendo un instructor con un máximo de 4 alumnos.<br><br>						
						<strong>CLASES PRIVADAS</strong><br>						
						Ideal para personas que necesitan mayor atención, como por ejemplo: patologías graves de columna, rehabilitaciones y/o tercera edad.
						En la clase privada hay un instructor por alumno.<br>		<br>				
						<strong>EMBARAZADAS</strong><br>						
						Las embarazadas comparten la clase grupal teniendo un entrenamiento especial para su período gestacional. Eso les 
						permite tener mayor flexibilidad horaria. En caso de querer una atención más personalizada también pueden optar por 
						las clases privadas o semiprivadas.<br>	<br>					
						<strong>TERCERA EDAD</strong><br>						
						Los alumnos mayores pueden venir perfectamente a las clases grupales. Tenemos una trayectoria de más de 10 años 
						trabajando con la tercera edad.
						El intructor arma su entrenamiento de acuerdo a sus posibilidades físicas.
						También pueden optar por la opción de clases privadas o semiprivadas si se sienten inseguros o requieren mayor atención.<br><br>						
						<strong>CAPACITACIONES</strong><br>						
						Si querés capacitarte con nosotros, envianos un correo a <a href="mailto:relevepilates@gmail.com?Subject=Releve%20Pilates">relevepilates@gmail.com</a> y te enviamos toda la info.
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="galeria" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Vení a conocer nuestro espacio</h2>
				<h4 class="light muted">Mejora tu calidad de vida empezando por tu columna</h4>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div id="gallery-carrousel" class="owl-carousel owl-theme">
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_1.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_2.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_3.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_4.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_5.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_6.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_7.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_8.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_9.jpg' %>" alt="Releve"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="ubicacion" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Donde encontrarnos</h2>
				<h4 class="light muted">Un espacio de salud en el corazón de la Capital</h4>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<p><i class="fa fa-map-marker text-danger" aria-hidden="true"></i> <strong>Parana 26, Piso 3 Dpto. M</strong></p>
					<p class="hidden-xs">Ciudad Autónoma de Buenos Aires C1017AAB</p>
					<p><i class="fa fa-phone text-primary" aria-hidden="true"></i> <a href="tel:11-4382-6446">+54 (011) 4382 - 6446</a></p>
					<p><i class="fa fa-envelope-o text-warning" aria-hidden="true"></i> <a href="mailto:relevepilates@gmail.com?Subject=Releve%20Pilates">relevepilates@gmail.com</a></p>
				</div>
				<div class="col-xs-12 col-md-8">
					<div id="map"></div>
				</div>
			</div>
			</div>
	</section>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="Comenzar" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content text-releve">
				<div class="modal-header bg-light-releve">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Ingresa a Releve!</h4>
				</div>
				<div class="modal-body">
					<a href="<%= user_facebook_omniauth_authorize_path %>" class="btn btn-block btn-social btn-lg btn-facebook"><span class="fa fa-facebook"></span> Ingresar con Facebook</a>
					<a href="<%= user_twitter_omniauth_authorize_path %>" class="btn btn-block btn-social btn-lg btn-twitter"><span class="fa fa-twitter"></span> Ingresar con Twitter</a>
					<a href="<%= new_user_session_path %>" class="btn btn-block btn-social btn-lg btn-reddit"><span class="fa fa-envelope"></span> Ingresar con mi Correo</a>
				</div>
			</div>
		</div>
	</div>

	<%= render 'layouts/footer' %>
	<%= render 'layouts/modals' %>
	
	
<script>
  function initMap() {
	var mapDiv = document.getElementById('map');
	var map = new google.maps.Map(mapDiv, {
		center: {lat: -34.608301, lng: -58.387704},
		zoom: 16
	});
	var image = '<%= asset_path 'favicon/favicon-32x32.png' %>';
	var beachMarker = new google.maps.Marker({
		position: {lat: -34.608301, lng: -58.387704},
		map: map,
		icon: image
	});
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS61_zaaWYmJIMekUGT1arDldQP5w5K7M&callback=initMap"></script>

