	<div class="preloader">
		<a href="/app/agenda" class="btn btn-block btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i><strong> Ingresar</strong></a>
		<img src="<%= asset_path 'loader.gif' %>" alt="Preloader image">
		<div id="quotes_container">
			<blockquote>
				<p id="quotes_preloader">"<%= @preloadQuote %>"</p>
				<p id="quotes_author" class="text-muted pull-right"> - Joseph Pilates</p>
			</blockquote>
		</div>
	</div>
	
	<%= render 'layouts/header' %>
	
	<header id="intro">
		<div class="container">
			<div class="sp-container">
				<div class="sp-content">
					<div class="sp-wrap sp-left">
						<h2 class="hidden-mddown">
							<span class="sp-top">"Una persona es</span> 
							<span class="sp-mid-top">tan joven como lo sea</span> 
							<span class="sp-mid">su columna vertebral”</span> 
							<span class="sp-bottom">Joseph Pilates</span>
						</h2>
						<h2 class="hidden-mdup">
							<span class="sp-mid">"Una persona es tan joven como lo sea su columna vertebral”</span>
							<span class="sp-bottom">Joseph Pilates</span>
						</h2>
					</div>
					<div class="sp-wrap sp-right">
						<h2>
							<span class="sp-top">RE</span> 
							<span class="sp-mid">LE</span> 
							<span class="sp-bottom">VE</span> 
						</h2>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-4 ">
					<div class="intro-table intro-table-hover">
						<h4>Te invitamos a probar una clase sin cargo!</h4>
						<button href="#" data-toggle="modal" data-target="#modal1" class="btn btn-lg btn-primary">Comenzá hoy!</button>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-first">
						<h5 class="white heading"><span class="open-blink"></span> Próximas clases</h5>
						<div class="owl-carousel owl-schedule bottom">
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Entrenamiento matutino</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">09:00 - 10:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Estiramiento</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">19:00 - 20:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Pilates</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">17:00 - 18:00</h5>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Entrenamiento matutino</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">09:00 - 10:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Estiramiento</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">19:00 - 20:00</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">Pilates</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">17:00 - 18:00</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-third">
						<h5 class="white heading">Clientes felices</h5>
						<div class="owl-testimonials bottom">
							<div class="item">
								<h4 class="white heading content">Lorem ipsum dolor sit amet</h4>
								<h5 class="white heading light author">Bayron</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">Option meliore sententiae id pro</h4>
								<h5 class="white heading light author">El agu</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">Nobis tation vis id. </h4>
								<h5 class="white heading light author">Vicky</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="actividades" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Actividades</h2>
				<h4 class="light muted">Te invitamos a vivir la experiencia Releve</h4>
			</div>
			<div class="row services">
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="<%= asset_path 'icons/dance-blue.png' %>" alt="" class="icon">
						</div>
						<h4 class="heading">Dance Pilates</h4>
						<p class="description">Se fusiona el trabajo de Danza Clásica con Pilates, combinando movimientos de disociacion, utilizando pesas y otros accesorios.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="<%= asset_path 'icons/pilates-blue.png' %>" alt="" class="icon">
						</div>
						<h4 class="heading">Pilates</h4>
						<p class="description">Se trabaja en circuito integrando Reformer, Cadillac, Chair y Corrector espinal, más un espacio para hacer mat y distintos accesorios.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="<%= asset_path 'icons/stretching-blue.png' %>" alt="" class="icon">
						</div>
						<h4 class="heading">Yoga</h4>
						<p class="description">Trabajo completo del cuerpo, donde se educa la mente y el espíritu, para todos aquellos que deseen mejorar su calidad de vida.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section id="galeria" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Vení a conocer nuestro espacio</h2>
				<h4 class="light muted">Mejora tu calidad de vida empezando por tu columna</h4>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div id="gallery-carrousel" class="owl-carousel owl-theme">
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_1.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_2.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_3.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_4.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_5.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_6.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_7.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_8.jpg' %>" alt="Releve"></div>
					  <div class="item"><img src="<%= asset_path 'carrousel/gallery_9.jpg' %>" alt="Releve"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="nuestro_equipo" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Nuestro equipo</h2>
				<h4 class="light muted">Conocé el dream team de Releve!</h4>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url(<%= asset_path 'team/team-cover1.jpg' %>); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Pilates</h3>
								<h5 class="light light-white">5 - 8 clases por semana</h5>
							</div>
						</div>
						<img src="<%= asset_path 'team/team1.jpg' %>" alt="Team Image" class="avatar">
						<div class="title">
							<h4>Vic Farnfader</h4>
							<h5 class="muted regular">Alta Instrutora</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url(<%= asset_path 'team/team-cover2.jpg' %>); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">100% malcriado</h3>
								<h5 class="light light-white">Echado toda la semana</h5>
							</div>
						</div>
						<img src="<%= asset_path 'team/team2.jpg' %>" alt="Team Image" class="avatar">
						<div class="title">
							<h4>Bayron Farnfader</h4>
							<h5 class="muted regular">Wooof</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url(<%= asset_path 'team/team-cover3.jpg' %>); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">Fitness</h3>
								<h5 class="light light-white">1 - 5 sessions / month</h5>
							</div>
						</div>
						<img src="<%= asset_path 'team/team3.jpg' %>" alt="Team Image" class="avatar">
						<div class="title">
							<h4>Eva Williams</h4>
							<h5 class="muted regular">Personal Trainer</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="ubicacion" class="section">
			<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Donde encontrarnos</h2>
				<h4 class="light muted">Un espacio de salud en el corazón de la Capital</h4>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<p><i class="fa fa-map-marker text-danger" aria-hidden="true"></i> <strong>Parana 26, Piso 3 Dpto. M</strong></p>
					<p>Ciudad Autónoma de Buenos Aires C1017AAB</p>
					<p><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:11-4382-6446">+54 (011) 4382 - 6446</a></p>
					<p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:relevepilates@gmail.com?Subject=Releve%20Pilates">relevepilates@gmail.com</a></p>
				</div>
				<div class="col-xs-12 col-md-8">
					<div id="map"></div>
				</div>
			</div>
			</div>
	</section>
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="Comenzar" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content text-releve">
				<div class="modal-header bg-light-releve">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Ingresa a Releve!</h4>
				</div>
				<div class="modal-body">
					<a href="<%= user_facebook_omniauth_authorize_path %>" class="btn btn-block btn-social btn-lg btn-facebook"><span class="fa fa-facebook"></span> Ingresar con Facebook</a>
					<a href="<%= user_twitter_omniauth_authorize_path %>" class="btn btn-block btn-social btn-lg btn-twitter"><span class="fa fa-twitter"></span> Ingresar con Twitter</a>
					<a href="<%= new_user_session_path %>" class="btn btn-block btn-social btn-lg btn-reddit"><span class="fa fa-envelope"></span> Ingresar con mi Correo</a>
				</div>
			</div>
		</div>
	</div>

	<%= render 'layouts/footer' %>
	<%= render 'layouts/modals' %>
	
	
<script>
  function initMap() {
	var mapDiv = document.getElementById('map');
	var map = new google.maps.Map(mapDiv, {
		center: {lat: -34.608301, lng: -58.387704},
		zoom: 16
	});
	var image = '<%= asset_path 'favicon/favicon-32x32.png' %>';
	var beachMarker = new google.maps.Marker({
		position: {lat: -34.608301, lng: -58.387704},
		map: map,
		icon: image
	});
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS61_zaaWYmJIMekUGT1arDldQP5w5K7M&callback=initMap"></script>

