<div class="preloader">
	<a href="/app/agenda" class="btn btn-block btn-primary"><i class="fa fa-ellipsis-v" aria-hidden="true"></i><strong> ReleveApp</strong></a>
	<img src="<%= asset_path 'loader.gif' %>" alt="Preloader image">
	<div id="quotes_container">
		<blockquote>
			<p id="quotes_preloader">"<%= @preloadQuote %>"</p>
			<p id="quotes_author" class="text-muted pull-right"> - Joseph Pilates</p>
		</blockquote>
	</div>
</div>

<%= render 'layouts/header' %>

<header id="intro">
	<div class="container">
		<div class="sp-container">
			<div class="sp-content">
				<div class="sp-wrap sp-left">
					<h2 class="hidden-mddown">
						<span class="sp-top">"Una persona es</span> 
						<span class="sp-mid-top">tan joven como lo sea</span> 
						<span class="sp-mid">su columna vertebral”</span> 
						<span class="sp-bottom">Joseph Pilates</span>
					</h2>
					<h2 class="hidden-mdup">
						<span class="sp-center">"Una persona es tan joven como lo sea su columna vertebral”</span>
						<span class="sp-centerbottom">Joseph Pilates</span>
					</h2>
				</div>
				<div class="sp-wrap sp-right hidden-xs">
					<h2>
						<span class="sp-top">RE</span> 
						<span class="sp-mid">LE</span> 
						<span class="sp-bottom">VE</span> 
					</h2>
				</div>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="row intro-tables">
			<div class="col-md-4">
				<div class="intro-table intro-table-hover">
					<h4>Te invitamos</br>a probar una </br><strong>clase sin cargo</strong></h4>
					<button href="#" data-toggle="modal" data-target="#modal1" class="btn btn-lg btn-primary">Comenzá hoy!</button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="intro-table intro-table-first">
					<h5 class="white heading"><span class="open-blink"></span> Próximas clases</h5>
					<div class="owl-carousel owl-schedule bottom">
						<% (0..2).each do |i| %>
						<div class="item">
							<% (0..2).each do |j| %><% k = (i==0) ? j : (i==1) ? j+3 : j+6 %>
							<% if !@nextclases[k].nil?  && !@nextclases[k].instructor.nil?%>
							<div class="schedule-row row">
								<div class="col-xs-8">
									<h5 title="<%= @nextclases[k].actividad.nombre %> (<%= @nextclases[k].instructor.nombre_completo %>)"><%= @nextclases[k].actividad.nombre %> (<%= @nextclases[k].instructor.nombre_completo %>)</h5>
								</div>
								<div class="col-xs-4 text-right">
									<h5 title="<%= @nextclases[k].dia %> <%= @nextclases[k].horario %>hs"><%= I18n.t('date.abbr_day_names')[@nextclases[k].fecha.wday] %> <%= @nextclases[k].horario %>hs</h5>
								</div>
							</div>
							<% end %>
							<% end %>
						</div> 
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="intro-table intro-table-third">
					<h5 class=""><i class="fa fa-comments fa-flip-horizontal" aria-hidden="true"></i> Mira los comentarios:</h5>
					<div class="owl-testimonials">
						<div class="item">
						  <p>"Releve Pilates el mejor lugar, sin dudas!!! Hace un año que sigo eligiendo este maravilloso espacio. La dedicación a cada alumna/alumno hace que cada clase sea espectacular!!"</p>
						  <div><a href="https://www.facebook.com/relevepilates/reviews?ref=page_internal"><i class="fa fa-facebook-square" aria-hidden="true"></i>/reviews</a></div>
						</div>
						<div class="item">
						  <p>"Excelente atención , las mejores clases de pilates en un ambiente hermoso."</p>
						  <div><a href="https://www.facebook.com/relevepilates/reviews?ref=page_internal"><i class="fa fa-facebook-square" aria-hidden="true"></i>/reviews</a></div>
						</div>
						<div class="item">
						  <p>"Excelente, el trabajo es personalizado y eficaz, en un ambiente relajado."</p>
						  <div><a href="https://www.facebook.com/relevepilates/reviews?ref=page_internal"><i class="fa fa-facebook-square" aria-hidden="true"></i>/reviews</a></div>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="actividades" class="section section-padded">
	<div class="container">
		<div class="row text-center title">
			<h2>Actividades</h2>
			<h4 class="light muted">Te invitamos a vivir la experiencia Releve</h4>
		</div>
		<div class="row services">
			<div class="col-md-4">
				<div class="service ribbon_box">
					<div class="ribbon"><span>Proximamente!</span></div>
					<div class="icon-holder">
						<img src="<%= asset_path 'icons/dance-blue.png' %>" alt="" class="icon">
					</div>
					<h4 class="heading">Dance Pilates</h4>
					<p class="description">Se fusiona el trabajo de Danza Clásica con Pilates, combinando movimientos de disociacion, utilizando pesas y otros accesorios.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service">
					<div class="icon-holder">
						<img src="<%= asset_path 'icons/pilates-blue.png' %>" alt="" class="icon">
					</div>
					<h4 class="heading">Pilates</h4>
					<p class="description">Se trabaja en circuito integrando Reformer, Cadillac, Chair y Corrector espinal, más un espacio para hacer mat y distintos accesorios.</p>
					<a href="#descripcion"><i class="fa fa-plus" aria-hidden="true"></i> Ver más</a>

				</div>
			</div>
			<div class="col-md-4">
				<div class="service ribbon_box">
					<div class="ribbon"><span>Proximamente!</span></div>
					<div class="icon-holder">
						<img src="<%= asset_path 'icons/stretching-blue.png' %>" alt="" class="icon">
					</div>
					<h4 class="heading">Yoga</h4>
					<p class="description">Trabajo completo del cuerpo, donde se educa la mente y el espíritu, para todos aquellos que deseen mejorar su calidad de vida.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="cut cut-bottom"></div>
</section>
<section id="descripcion" class="section section-padded">
	<div class="container">
		<div class="row text-center title">
			<h2><img src="<%= asset_path 'icons/pilates-blue.png' %>" alt="" class="icon"> <span>Pilates</span></h2>
			<h4 class="light muted">Encontra el espacio perfecto para vos!</h4>
		</div>
		<div class="row">
			<div class="col col-md-12 col-sm-12 col-xs-12">
				<div>
					
					El método Pilates, tal como su creador Joseph Pilates lo pensó a principios del siglo XX, compone una forma de "contrología" que educa y utiliza la <strong>conciencia corporal</strong> para lograr una <strong>musculación equilibrada</strong> y una <strong>unidad mente-cuerpo</strong>.<br/>
					Se trata de un programa de ejercicios que no son "en lugar de" sino "además de", por ello es que desde siempre y aún hoy es utilizado por bailarines y deportistas como así también todo tipo de personas, con diferentes edades y condiciones físicas.<br><br>
					<strong>CLASE GRUPAL</strong><br>
					La clase se trabaja en circuito o Pilates Estudio, contamos con tres Reformers, un Cadillac (o trapecio), un Chair y Corrector Espinal. 
					Hay otro espacio para ejercicios de mat (con colchoneta) y se trabaja con accesorios como pelotas, pesas, bandas, flex ring, rolos, etc.
					Como máximo 4 personas, es un trabajo personalizado y dura 1 hora.<br/><br/>
					<strong>CLASES PRIVADAS</strong><br>		
					Las clases privadas estan pensadas para personas que deseen un seguimiento aún más personalizado, como por ejemplo: un entrenamiento específico, alguna lesión que requiera rehabilitarse, o condición física en particular. Estas clases se coordinan con el instructor y duran 1 hora.<br><br>				
					<strong>Embarazadas</strong><br>
					Pilates es una excelente actividad para realizar durante el embarazo ya que prepara al cuerpo para los cambios propios de este período: el fortalecimiento de la espalda, sobre todo la zona lumbar, que será importante para que la madre pueda llevar la panza sin problemas, el trabajo del suelo pélvico la ayudarán a conservar el tono de esta musculatura interna y a facilitar el camino el día del parto, así como su posterior recuperación. La importancia de fortalecer los brazos la ayudarán para sostener al niño una vez en sus brazos.<br><br>		
					<!--<strong>Capacitaciones</strong><br>						
					Si querés capacitarte con nosotros, envianos un correo a <a href="mailto:relevepilates@gmail.com?Subject=Releve%20Pilates">relevepilates@gmail.com</a> y te enviamos toda la info.
					-->
				</div>
			</div>
		</div>
	</div>
</section>
<section id="galeria" class="section section-padded">
	<div class="container">
		<div class="row text-center title">
			<h2>Vení a conocer nuestro espacio</h2>
			<h4 class="light muted">Mejora tu calidad de vida empezando por tu columna</h4>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div id="gallery-carrousel" class="owl-carousel owl-theme">
				  <div class="item"><img src="<%= asset_path 'carrousel/gallery_1.jpg' %>" alt="Releve"></div>
				  <div class="item"><img src="<%= asset_path 'carrousel/gallery_2.jpg' %>" alt="Releve"></div>
				  <div class="item"><img src="<%= asset_path 'carrousel/gallery_3.jpg' %>" alt="Releve"></div>
				  <div class="item"><img src="<%= asset_path 'carrousel/gallery_4.jpg' %>" alt="Releve"></div>
				  <div class="item"><img src="<%= asset_path 'carrousel/gallery_5.jpg' %>" alt="Releve"></div>
				  <div class="item"><img src="<%= asset_path 'carrousel/gallery_6.jpg' %>" alt="Releve"></div>
				  <div class="item"><img src="<%= asset_path 'carrousel/gallery_7.jpg' %>" alt="Releve"></div>
				  <div class="item"><img src="<%= asset_path 'carrousel/gallery_8.jpg' %>" alt="Releve"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="ubicacion" class="section section-padded">
	<div class="container">
		<div class="row text-center title">
			<h2>Donde encontrarnos</h2>
			<h4 class="light muted">Un espacio de salud en el corazón de la Capital</h4>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<p><i class="fa fa-map-marker text-danger" aria-hidden="true"></i> <strong>Parana 26, Piso 3 Dpto. M</strong></p>
				<p class="hidden-xs">Ciudad Autónoma de Buenos Aires C1017AAB</p>
				<p><i class="fa fa-phone text-primary" aria-hidden="true"></i> <a href="tel:11-4382-6446">+54 (011) 4382 - 6446</a></p>
				<p><i class="fa fa-envelope-o text-warning" aria-hidden="true"></i> <a href="mailto:relevepilates@gmail.com?Subject=Releve%20Pilates">relevepilates@gmail.com</a></p>
			</div>
			<div class="col-xs-12 col-md-8">
				<div id="map"></div>
			</div>
		</div>
		</div>
</section>
<section id="precios" class="section section-padded">
	<div class="container">
		<div class="row text-center title">
			<h2>Precios</h2>
			<h4 class="light muted">Ingresá tus datos y te enviaremos al instante un correo electrónico con los precios</h4>
		</div>
		<div class="row">
			<div class="col-sm-12 formalert" id="formsuccess"><div class="alert alert-success" role="alert">Revisa tu casilla de correo, te hemos enviado un correo con toda la información. Muchas gracias!</div></div>
			<div class="col-sm-12 formalert" id="formerror"><div class="alert alert-danger" role="alert">Por favor completa todos los campos y valida correctamente el ReCaptcha.</div></div>
			<form id="pricing" action="/pricing" method="post">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="firstname">Nombre</label>
						<input type="text" name="firstname" class="form-control" id="firstname" placeholder="Nombre">
					</div>
					<div class="form-group">
						<label for="lastname">Apellido</label>
						<input type="text" name="lastname" class="form-control" id="lastname" placeholder="Apellido">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="email">Dirección de correo</label>
						<input type="email" name="email" class="form-control" id="email" placeholder="Dirección de correo">
					</div>
					<div class="form-group"><%= recaptcha_tags hl: 'es', display: { theme: 'white' } %></div>
				</div>
				<div class="col-sm-6"><button type="submit" class="btn btn-primary">Enviar</button></div>
			</form>
		</div>
		</div>
</section>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="Comenzar" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content text-releve">
			<div class="modal-header bg-light-releve">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Ingresa a Releve!</h4>
			</div>
			<div class="modal-body">
				<a href="<%= user_facebook_omniauth_authorize_path %>" class="btn btn-block btn-social btn-lg btn-facebook"><span class="fa fa-facebook"></span> Ingresar con Facebook</a>
				<a href="<%= user_twitter_omniauth_authorize_path %>" class="btn btn-block btn-social btn-lg btn-twitter"><span class="fa fa-twitter"></span> Ingresar con Twitter</a>
				<a href="<%= new_user_session_path %>" class="btn btn-block btn-social btn-lg btn-reddit"><span class="fa fa-envelope"></span> Ingresar con mi Correo</a>
			</div>
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>
<%= render 'layouts/modals' %>


<script>
  function initMap() {
	var mapDiv = document.getElementById('map');
	var map = new google.maps.Map(mapDiv, {
		center: {lat: -34.608301, lng: -58.387704},
		zoom: 16
	});
	var image = '<%= asset_path 'images/pie_color.png' %>';
	var beachMarker = new google.maps.Marker({
		position: {lat: -34.608301, lng: -58.388141},
		map: map,
		icon: image
	});
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS61_zaaWYmJIMekUGT1arDldQP5w5K7M&callback=initMap"></script>
