<div class="container-fluid" ng-app="TurnosApp">
	<div ng-view ></div>
</div>

<%= javascript_include_tag "jquery-ui/datepicker" %>
<%= javascript_include_tag "jquery-ui/autocomplete" %>
<%= javascript_include_tag "angular/angular.min" %>
<%= javascript_include_tag "angular/angular-resource.min" %>
<%= javascript_include_tag "angular/angular-route.min" %>
<%= javascript_include_tag "angular/ng-table.min" %>
<script>	
angular.module("TurnosApp",['ngRoute','ngResource','ngTable']);
$.datepicker.regional['es'] = {
	 closeText: 'Cerrar',
	 prevText: '<Ant',
	 nextText: 'Sig>',
	 currentText: 'Hoy',
	 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
	 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
	 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
	 weekHeader: 'Sm',
	 dateFormat: 'dd/mm/yy',
	 firstDay: 1,
	 isRTL: false,
	 showMonthAfterYear: false,
	 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);
 $.datepicker.setDefaults({
	showOtherMonths: true,
	selectOtherMonths: true,
	dateFormat: "yy-mm-dd",
	changeMonth: true,
	changeYear: true,
	//showButtonPanel: true
});
</script>	

<%= javascript_include_tag "filters/html_trusted" %>
<%= javascript_include_tag "services/resources" %>
<%= javascript_include_tag "controllers/ClaseIndexCtrl" %>
<%= javascript_include_tag "controllers/ClaseEditCtrl" %>
<%= javascript_include_tag "controllers/ClaseShowCtrl" %>
<%= javascript_include_tag "config" %>
<%= javascript_include_tag "routes" %>

