<%= render 'layouts/header' %>
<div class="first notlandingpage col-sm-12" ng-app="TurnosApp">
	<input type="hidden" name="user_id" data-ng-init="user_id=<%= current_user.id %>"/>
	<input type="hidden" name="user_email" data-ng-init="user_email='<%= current_user.email %>'"/>
	<input type="hidden" name="user_primera_clase" data-ng-init="user_primera_clase=<%= current_user.primera_clase %>"/>
	<div ng-view ></div>
</div>
<%= render 'layouts/modals' %>

<%= javascript_include_tag "jquery-ui/datepicker" %>
<%= javascript_include_tag "jquery-ui/autocomplete" %>
<%= javascript_include_tag "angular/angular.min" %>
<%= javascript_include_tag "angular/angular-resource.min" %>
<%= javascript_include_tag "angular/angular-route.min" %>
<%= javascript_include_tag "angular/ng-table.min" %>
<script>	
$.datepicker.regional['es'] = {
	 closeText: 'Cerrar',
	 prevText: '<Ant',
	 nextText: 'Sig>',
	 currentText: 'Hoy',
	 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
	 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
	 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
	 weekHeader: 'Sm',
	 dateFormat: 'dd/mm/yy',
	 firstDay: 1,
	 isRTL: false,
	 showMonthAfterYear: false,
	 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);
 $.datepicker.setDefaults({
	showOtherMonths: true,
	selectOtherMonths: true,
	dateFormat: "yy-mm-dd",
	changeMonth: true,
	changeYear: true,
	//showButtonPanel: true
});
angular.module("TurnosApp",['ngRoute','ngResource','ngTable']);
</script>	

<%= javascript_include_tag "filters/html_trusted" %>
<%= javascript_include_tag "services/resources" %>
<%= javascript_include_tag "controllers/ClaseIndexCtrl" %>
<%= javascript_include_tag "controllers/ClaseEditCtrl" %>
<%= javascript_include_tag "controllers/ClaseShowCtrl" %>
<%= javascript_include_tag "controllers/ClaseJoinCtrl" %>
<%= javascript_include_tag "bootstrap-calendar/underscore-min" %>
<%= javascript_include_tag "bootstrap-calendar/calendar" %>
<%= javascript_include_tag "config" %>
<%= javascript_include_tag "routes" %>
