<%= subtitle " - App" %>
<%= render 'layouts/header' %>

<!-- defaultErrorAlert -->
<div class="first row" id="defaultErrorAlert" style="display:none;"><div class="col-xs-12"><div class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong class="lead"><i class="fa fa-meh-o" aria-hidden="true"></i> Ups!</strong> Parece que ha ocurrido un error, <strong>por favor intenta recargar la página</strong> y si el problema persiste avisa a tu instructor. Gracias!
</div></div></div>

<!-- AppContainer -->
<div class="first notlandingpage col-sm-12" id="AppContainer">
	<% if current_user.admin? %><input type="hidden" name="is_admin" data-ng-init="is_admin=<%= current_user.admin %>"/><% end %>
	<% if current_user.instructor? %>
		<input type="hidden" name="is_instructor" data-ng-init="is_instructor=<%= current_user.instructor %>"/>
		<input type="hidden" name="instructor_id" data-ng-init="instructor_id=<%= current_user.id %>"/>
	<% end %>
	<input type="hidden" name="user_confirmed" data-ng-init="user_confirmed=<%= current_user.confirmed %>"/>
	<input type="hidden" name="user_primera_clase" data-ng-init="user_primera_clase=<%= current_user.primera_clase %>"/>
	<div ng-view ></div>
</div>

