<p><%= t('.greeting', :recipient => @resource.email, :default => "Hola #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Alguien ha solicitado un link para cambiar tu contraseña, y puedes hacerlo con el link que se encuentra a continación. ") %></p>

<p><%= link_to t('.action', :default => "Cambiar mi contraseña"), edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale) %></p>

<p><%= t('.instruction_2', :default => "Si usted no solicitó esto, por favor ignore este correo.") %></p>
<p><%= t('.instruction_3', :default => "Su contraseña no se modificará hasta que usted acceda al link de arriba y cree una nueva.") %></p>

