<nav class="navbar <% if !@landingpage %>notlandingpage<% end %>">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img id="ReleveImgNav" src="<%= asset_path 'logo.png' %>" data-active-url="<%= asset_path 'logo-active.png' %>" alt="Releve" class="img-rounded">
				<img id="LoadingImg" src="<%= asset_path 'loader.gif' %>">
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right main-nav">
				<% if !(user_signed_in? && current_user.admin?) %>
					<li><a href="#intro">Inicio</a></li>
				<% else %>
					<li><a href="/">Inicio</a></li>
					<li><a href="/dashboard/index"><i class="fa fa-calendar" aria-hidden="true"></i> Clases</a></li>
					<li><a href="/alumno/index"><i class="fa fa-users" aria-hidden="true"></i> Alumnos</a></li>
				<% end %>
				<% if user_signed_in? %>
					<li><a href="/dashboard/join"><i class="fa fa-check-square-o" aria-hidden="true"></i> Mis Clases</a></li>
					<% if current_user.confirmed? %>
						<li class="user_header" title="Salir"><a data-method="DELETE" href="<%= destroy_user_session_path %>"><%= current_user.email %>  <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
					<% else %>
						<li><a href="#" data-toggle="modal" data-target="#modal2" class="btn btn-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirmar mis datos</a></li>
						<li class="user_header" title="Salir"><a data-method="DELETE" href="<%= destroy_user_session_path %>">Salir <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
					<% end %>
				<% else %>
					<li><a href="#actividades" class="hidden-sm">Actividades</a></li>
					<li><a href="#galeria">Galeria</a></li>
					<li><a href="#nuestro_equipo" class="hidden-sm hidden-md">Nuestro Equipo</a></li>
					<li><a href="#ubicacion">Ubicacion</a></li>
					<li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-primary">Comenzar!</a></li>
				<% end %>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!-- Holder for mobile navigation -->
<div class="mobile-nav lead">
	<ul>
	</ul>
	<a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>

