<!DOCTYPE HTML>
<html lang="es-AR" data-ng-app="ReleveApp">
	
  <head itemscope itemtype="http://schema.org/WebSite">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title itemprop='name'>Releve Pilates<%= yield :subtitle %></title>
	<link rel="canonical" href="http://www.relevepilates.com.ar/" itemprop="url">
	<link rel="alternate" href="http://www.relevepilates.com.ar/" hreflang="en-AR" />
	<meta name="description" content="Releve Pilates - Disfrutá entrenarte: Estudio de Pilates y Calidad de vida." />
	<meta name="keywords" content="Releve, Pilates, Ejercicio, Salud, Cuerpo, Danza, Entrenar, Bailarina, Plaza Congreso, CABA, Capital Federal, Ciudad Autónoma de Buenos Aires, Microcentro, Congreso, Balvanera, Recoleta, Monserrat, Madero, San Nicolás" />
	<meta name="author" content="Nitsuga" />
	<link href="http://relevepilates.com.ar/" hreflang="es-AR"/>
	<%= render 'favicon' %>
    <!-- bootstrap fix -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- styles & fonts -->
    <%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
	<% if Rails.env.production? %>
	  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
	<% end %>
	<base href="/">
  </head>
  
  <body class="<% if @landingpage %>landingpage<% end %>">
	<!--[if lt IE 9]>
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<p><%= raw t('ie_warning')%></p>
		</div>
	<![endif]-->
	<%= yield %>
  </body>

  <!-- scripts -->
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</html>

<%= javascript_include_tag "application", params[:controller], "data-turbolinks-track" => true %>

<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "Organization",
	  "url": "http://www.relevepilates.com.ar/",
	  "logo": "http://www.relevepilates.com.ar/logo.png",
	  "contactPoint": [{
		"@type": "ContactPoint",
		"telephone": "+54 (011) 4382 - 6446",
		"contactType": "customer service",
		"areaServed": "AR",
		"availableLanguage": ["Spanish","English"]
	  }],
	  "sameAs": [
		"https://www.facebook.com/relevepilates/",
		"https://www.instagram.com/relevepilates/",
		"https://plus.google.com/+RelevePilatesBuenosAires/",
		"https://www.youtube.com/channel/UCANspzZurd6hdJqrJPZBU8w"
	  ]
	}
</script>
