<!DOCTYPE HTML>
<html lang="es-AR" data-ng-app="ReleveApp">
	
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Releve Pilates</title>
	<meta name="description" content="Releve Pilates" />
	<meta name="keywords" content="Pilates, Releve, Ejercicio, Salud, Cuerpo, Danza, Congreso, Plaza Congreso, CABA, Capital Federal, Ciudad Autónoma de Buenos Aires," />
	<meta name="author" content="Nitsuga" />
	<link href="http://relevepilates.com.ar/" hreflang="es-AR"/>
	<%= render 'favicon' %>
    <!-- bootstrap fix -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- styles & fonts -->
    <%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
  </head>
  
  <body class="<% if @landingpage %>landingpage<% end %>">
	<!--[if lt IE 9]>
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<p><%= raw t('ie_warning')%></p>
		</div>
	<![endif]-->
	<%= yield %>
  </body>

  <!-- scripts -->
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</html>

<%= javascript_include_tag "application", params[:controller], "data-turbolinks-track" => true %>
