<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta charset="utf-8"> <!-- utf-8 works for most cases -->
	<meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
	<title>Releve Pilates</title>
	<meta name="description" content="Releve Pilates" />
	<meta name="keywords" content="Pilates, Releve, Ejercicio, Salud, Cuerpo, Danza, Congreso, Plaza Congreso, Entrenamiento, CABA, Capital Federal, Ciudad Autónoma de Buenos Aires," />
	<meta name="author" content="Nitsuga" />
	<link href="http://relevepilates.com.ar/" hreflang="es-AR"/>		
	<%= stylesheet_link_tag "mailer", media: "all","data-turbolinks-track" => true %>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="#f4f4f4" style="margin:0; padding:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;">
<table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#f4f4f4" id="bodyTable" style="border-collapse: collapse;table-layout: fixed;margin:0 auto;"><tr><td>

<!-- CSS Image background in Outlook : BEGIN -->
<!-- Best used with absolute image paths -->
<!--[if gte mso 9]>
  <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
    <v:fill type="tile" color="#f4f4f4" src="assets/nice_snow.png">
  </v:background>
<![endif]-->
<!-- CSS Image background in Outlook : END -->

  <!-- Logo Left, Nav Right, 100% Nav Bar : BEGIN -->
  <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" bgcolor="#12849e" style="text-align: center;">
    <tr width="100%" bgcolor="#12849e">
      <td width="100%" bgcolor="#12849e">
        <table border="0" width="600" cellpadding="0" cellspacing="0" align="center" style="margin: auto;" class="email-container">
          <tr>
            <td class="hh-force-col-center" valign="middle" style="text-align: left;">
			<%= image_tag('Releve_pie.png' ,alt:"Releve", height:"145px", border:"0") %>
            </td>
            <td class="hh-force-col-center" valign="middle" width="100%" style="padding: 0;text-align: center;">
              <h1 style="margin: 0;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 3em;line-height: 1em;color: #ffffff;">RELEVE PILATES</h1>&nbsp;&nbsp;
              <h2 style="margin: 0;color: #ffffff;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 1.4em;line-height: 0;">Disfrutá entrenarte</h2>&nbsp;&nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- Logo Left, Nav Right, 100% Nav Bar : END -->

  <%= yield %>

  </table>
  <!-- Email Container : END -->
  
  <!-- Footer : BEGIN -->
  <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" class="email-container">
    <tr>
      <td style="text-align: center;padding: 20px;font-family: sans-serif; font-size: 12px; line-height: 18px;color: #888888;">
        <a href="https://www.facebook.com/relevepilates/"><%= image_tag('social-icons-fb.png',alt:"Fb") %></a>
        <a href="https://www.instagram.com/relevepilates/"><%= image_tag('social-icons-in.png',alt:"Igrm") %></a>
        <a href="https://plus.google.com/108856335950426948454/"><%= image_tag('social-icons-go.png',alt:"Ggl") %></a>
        <a href="https://www.youtube.com/channel/UCANspzZurd6hdJqrJPZBU8w"><%= image_tag('social-icons-yt.png',alt:"yt") %></a><br/>
        <strong>Releve Pilates</strong> Parana 26, Piso 3 Dpto. M, CABA. +54(011)4382-6446. relevepilates@gmail.com.<br/>
      </td>
    </tr>
  </table>
  <!-- Footer : END -->

</td></tr></table>
</body>
</html>
